/* src/index.css */

/* 1. Reset marginesów i ustawienie wysokości na 100% dla całej strony */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Ukrywa paski przewijania */
}

/* 2. Styl domyślny dla mapy w React-Leaflet */
.leaflet-container {
  width: 100%;
  height: 100%;
}