{% macro render_weather_table(overall, moving, prefs) %}
<table class="report-table">
    <thead>
    <tr>
        <th style="width: 33%">Parametr</th>
        <th>Średnia w ruchu</th>
        <th>Min.</th>
        <th>Maks.</th>
    </tr>
    </thead>
    <tbody>
    <tr><th colspan="4" style="background-color: #e2e8f0; color: #000;">Temperatura/powietrze</th></tr>
    <tr>
        <td>Temperatura</td>
        <td><b>{{ (moving.avgTemp if moving else overall.avgTemp) | format_metric('temp', prefs) }}</b></td>
        <td><b>{{ overall.minTemp | format_metric('temp', prefs) }}</b></td>
        <td><b>{{ overall.maxTemp | format_metric('temp', prefs) }}</b></td>
    </tr>
    <tr>
        <td>Wilgotność</td>
        <td><b>{{ (moving.avgHumidity if moving else overall.avgHumidity) | format_metric('humidity', prefs, 0) }}</b></td>
        <td><b>{{ overall.minHumidity | format_metric('humidity', prefs, 0) }}</b></td>
        <td><b>{{ overall.maxHumidity | format_metric('humidity', prefs, 0) }}</b></td>
    </tr>
    <tr>
        <td>Ciśnienie</td>
        <td><b>{{ (moving.avgPressure if moving else overall.avgPressure) | format_metric('pressure', prefs) }}</b></td>
        <td><b>{{ overall.minPressure | format_metric('pressure', prefs) }}</b></td>
        <td><b>{{ overall.maxPressure | format_metric('pressure', prefs) }}</b></td>
    </tr>

    <tr><th colspan="4" style="background-color: #e2e8f0; color: #000;">Wiatr</th></tr>
    <tr>
        <td>Siła wiatru</td>
        <td><b>{{ (moving.avgWindSpeed if moving else overall.avgWindSpeed) | format_metric('wind', prefs) }}</b></td>
        <td><b>{{ overall.minWindSpeed | format_metric('wind', prefs) }}</b></td>
        <td><b>{{ overall.maxWindSpeed | format_metric('wind', prefs) }}</b></td>
    </tr>
    <tr>
        <td>Porywy</td>
        <td><b>{{ (moving.avgWindGusts if moving else overall.avgWindGusts) | format_metric('wind', prefs) }}</b></td>
        <td><b>{{ overall.minWindGusts | format_metric('wind', prefs) }}</b></td>
        <td><b>{{ overall.maxWindGusts | format_metric('wind', prefs) }}</b></td>
    </tr>

    <tr><th colspan="4" style="background-color: #e2e8f0; color: #000;">Opady/chmury</th></tr>
    <tr>
        <td>Deszcz (suma)</td>
        <td><b>{{ moving.sumRain | format_metric('rain', prefs) if moving and moving.avgTemp is not none else '--' }}</b></td>
        <td>--</td>
        <td>--</td>
    </tr>
    <tr>
        <td>Śnieg (suma)</td>
        <td><b>{{ moving.sumSnowfall | format_metric('snow', prefs) if moving and moving.avgTemp is not none else '--' }}</b></td>
        <td>--</td>
        <td>--</td>
    </tr>
    <tr>
        <td>Zachmurzenie</td>
        <td><b>{{ (moving.avgCloudCover if moving else overall.avgCloudCover) | format_metric('clouds', prefs, 0) }}</b></td>
        <td><b>{{ overall.minCloudCover | format_metric('clouds', prefs, 0) }}</b></td>
        <td><b>{{ overall.maxCloudCover | format_metric('clouds', prefs, 0) }}</b></td>
    </tr>

    <tr><th colspan="4" style="background-color: #e2e8f0; color: #000;">Morze</th></tr>
    <tr>
        <td>Temp. morza</td>
        <td><b>{{ (moving.avgSeaTemperature if moving else overall.avgSeaTemperature) | format_metric('temp', prefs) }}</b></td>
        <td><b>{{ overall.minSeaTemperature | format_metric('temp', prefs) }}</b></td>
        <td><b>{{ overall.maxSeaTemperature | format_metric('temp', prefs) }}</b></td>
    </tr>
    <tr>
        <td>Fale (wys. | okr.)</td>
        <td><b>{{ (moving.avgWaveHeight if moving else overall.avgWaveHeight) | format_metric('wave', prefs) }} | {{ (moving.avgWavePeriod if moving else overall.avgWavePeriod) | format_val('s') }}</b></td>
        <td><b>{{ overall.minWaveHeight | format_metric('wave', prefs) }} | {{ overall.minWavePeriod | format_val('s') }}</b></td>
        <td><b>{{ overall.maxWaveHeight | format_metric('wave', prefs) }} | {{ overall.maxWavePeriod | format_val('s') }}</b></td>
    </tr>
    <tr>
        <td>Fale martwe (wys. | okr.)</td>
        <td><b>{{ (moving.avgSwellWaveHeight if moving else overall.avgSwellWaveHeight) | format_metric('wave', prefs) }} | {{ (moving.avgSwellWavePeriod if moving else overall.avgSwellWavePeriod) | format_val('s') }}</b></td>
        <td><b>{{ overall.minSwellWaveHeight | format_metric('wave', prefs) }} | {{ overall.minSwellWavePeriod | format_val('s') }}</b></td>
        <td><b>{{ overall.maxSwellWaveHeight | format_metric('wave', prefs) }} | {{ overall.maxSwellWavePeriod | format_val('s') }}</b></td>
    </tr>
    <tr>
        <td>Prądy</td>
        <td><b>{{ (moving.avgOceanCurrentVelocity if moving else overall.avgOceanCurrentVelocity) | format_metric('currents', prefs) }}</b></td>
        <td><b>{{ overall.minOceanCurrentVelocity | format_metric('currents', prefs) }}</b></td>
        <td><b>{{ overall.maxOceanCurrentVelocity | format_metric('currents', prefs) }}</b></td>
    </tr>
    </tbody>
</table>
{% endmacro %}

{% macro render_speed_table(speed, prefs) %}
<table class="report-table">
    <thead>
    <tr>
        <th style="width: 33%;">Przebyty dystans</th>
        <th style="width: 34%;">Prędkość średnia</th>
        <th style="width: 33%;">Prędkość maks</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><b>{{ speed.distanceKm | format_metric('distance', prefs) }}</b></td>
        <td><b>{{ speed.avgSpeed | format_metric('speed', prefs) }}</b></td>
        <td><b>{{ speed.maxSpeed | format_metric('speed', prefs) }}</b></td>
    </tr>
    </tbody>
</table>
{% endmacro %}